<section class="section-carrito">
    <h2>Carrito</h2>
    <ul id="items-carrito">
        <!--
        <li class="li-listados productos"></li>
            <img src="" alt="" class="img-listados">
            <p>Id: / Nombre: / <strong>Precio: </strong></p>
        -->
    </ul>
    <div class="total-carrito">
        
    </div>
</section>