<header>
    <nav class="header-nav">
        <div class="nav-logo">
            <img class="img-logo" src="/img/logo.jpg" alt="Korban Automotores">
            <h1>Alderete y Pereyra Vehiculos</h1>
            <input type="text" id="input-busqueda" class="nav-barra-busqueda" placeholder="Buscar productos...">
        </div>
    </nav>
</header>