<main>
    <section class="section-productos">
        <div class="navegacion">
            <ul>
                <a href="/dashboard">
                <li class="links-header"><span>GET</span></li>
                </a>

                <a href="/dashboard/consultar">
                <li class="links-header"><span>GET : id</span></li>
                </a>

                <a href="/dashboard/crear">
                <li class="links-header"><span>POST</span></li>
                </a>

                <a href="/dashboard/modificar">
                <li class="links-header"><span>PUT</span></li>
                </a>

                <a href="/dashboard/eliminar">
                <li class="links-header"><span>DELETE</span></li>
                </a>
            </ul>
            
        </div>