<main>
    <section class="section-productos">
        <div class="navegacion">
            <ul>
                <a href="/dashboard">
                <li class="links-header"><span>Listado de Vehiculos</span></li>
                </a>

                <a href="/dashboard/consultar">
                <li class="links-header"><span>Consultar</span></li>
                </a>

                <a href="/dashboard/crear">
                <li class="links-header"><span>Crear</span></li>
                </a>

                <a href="/dashboard/modificar">
                <li class="links-header"><span>Modificar</span></li>
                </a>

                <a href="/dashboard/eliminar">
                <li class="links-header"><span>Eliminar</span></li>
                </a>
            </ul>
            
        </div>