<main>
    <section class="section-productos">
        <div class="navegacion">
            <ul>
                <a href="/dashboard">
                <li class="links-header"><span>LISTADO</span></li>
                </a>

                <a href="/dashboard/consultar">
                <li class="links-header"><span>CONSULTAR</span></li>
                </a>

                <a href="/dashboard/crear">
                <li class="links-header"><span>CREAR</span></li>
                </a>

                <a href="/dashboard/modificar">
                <li class="links-header"><span>MODIFICAR</span></li>
                </a>

                <a href="/dashboard/eliminar">
                <li class="links-header"><span>ELIMINAR</span></li>
                </a>
            </ul>
            
        </div>